<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOGS" value="logs" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{HH:mm:ss} [%-5level] %logger{36} - %msg%n
				<!-- %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n -->
			</Pattern>
		</layout>
	</appender>
	
	<appender name="FILE"	class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/server.log</file>
		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOGS}/server.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			
			<timeBasedFileNamingAndTriggeringPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1000MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
	
	<logger name="org.apache" level="warn">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.data.mongodb.core.MongoDbUtils" level="info">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework" level="info">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.data" level="debug">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.web.servlet.DispatcherServlet" level="debug">
		<appender-ref ref="STDOUT" />
	</logger>
	
	
	<logger name="com.rom.quizup.server.services.GoogleTokenService" level="info">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>